## Importing Libraries

In [1]:
## importing libraries for loading and preprocessing data 
import numpy as np
import pandas as pd

## Reading/Loading And Creating a Copy of Dataset

In [16]:
data = pd.read_csv("Datasets/Iris_data_sample.csv")

In [17]:
## creating a deep copy of the dataset 
df1 = data.copy(deep=True)

In [18]:
df1.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [6]:
data_2 = pd.read_csv("Datasets/Toyota.csv")

In [19]:
## creating a deep copy 
df2 = data_2.copy()

In [8]:
data3 = pd.read_table("Datasets/Iris_data_sample.txt", delimiter=" ")

In [10]:
# data3

## Understanding Dataset

In [13]:
## display first five rows
data3.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
6,6,5.4,3.9,1.7,0.4,Iris-setosa
7,7,4.6,3.4,1.4,0.3,Iris-setosa

In [12]:
## display the last five rows 
data3.tail()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [14]:
## display n the number of rows 
data.head(7)

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
5,6,5.4,3.9,NaN,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa

In [20]:
df1.columns

Index(['Unnamed: 0', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'],
      dtype='object')

In [23]:
for each_item in df1.columns:
    print(each_item.lower())

unnamed: 0
sepallengthcm
sepalwidthcm
petallengthcm
petalwidthcm
species

In [24]:
df1['SepalLengthCm'].

0      5.1
1      4.9
2      4.7
3       ??
4        5
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: object

In [27]:
## acceass a single value for a row/col by their label and index 
df1.at[0, 'SepalLengthCm']

'5.1'

In [28]:
df1.iat[0, 1]

'5.1'

In [29]:
## accessing a group of rows and column by their label 

df1.loc[ 0: 10, 'SepalLengthCm']

0     5.1
1     4.9
2     4.7
3      ??
4       5
5     5.4
6     4.6
7       5
8     4.4
9     4.9
10    5.4
Name: SepalLengthCm, dtype: object

In [32]:
df1.loc[50:60, 'SepalLengthCm']

50      7
51    6.4
52    6.9
53    5.5
54    6.5
55    5.7
56    6.3
57    4.9
58    6.6
59    5.2
60      5
Name: SepalLengthCm, dtype: object

In [33]:
df1.iloc[0: 10, 1]

0    5.1
1    4.9
2    4.7
3     ??
4      5
5    5.4
6    4.6
7      5
8    4.4
9    4.9
Name: SepalLengthCm, dtype: object

In [34]:
df1.loc[10:15, ]
]

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
10,11,5.4,3.7,1.5,0.2,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
12,13,4.8,3.0,1.4,0.1,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa