## Importing Libraries

In [1]:
## importing libraries for loading and preprocessing data 
import numpy as np
import pandas as pd

## Reading/Loading And Creating a Copy of Dataset

In [2]:
data = pd.read_csv("Datasets/Iris_data_sample.csv")

In [3]:
## creating a deep copy of the dataset 
df1 = data.copy(deep=True)

In [4]:
df1.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [5]:
data_2 = pd.read_csv("Datasets/Toyota.csv")

In [6]:
## creating a deep copy 
df2 = data_2.copy()

In [7]:
data3 = pd.read_table("Datasets/Iris_data_sample.txt", delimiter=" ")

In [8]:
# data3

## Understanding Dataset

In [9]:
## display first five rows
data3.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa

In [10]:
## display the last five rows 
data3.tail()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
## display n the number of rows 
data.head(7)

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
5,6,5.4,3.9,NaN,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa

In [12]:
df1.columns

Index(['Unnamed: 0', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'],
      dtype='object')

In [13]:
for each_item in df1.columns:
    print(each_item.lower())

unnamed: 0
sepallengthcm
sepalwidthcm
petallengthcm
petalwidthcm
species

In [14]:
df1['SepalLengthCm']

0      5.1
1      4.9
2      4.7
3       ??
4        5
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: object

In [15]:
## acceass a single value for a row/col by their label and index 
df1.at[0, 'SepalLengthCm']

'5.1'

In [16]:
df1.iat[0, 1]

'5.1'

In [17]:
## accessing a group of rows and column by their label 

df1.loc[ 0: 10, 'SepalLengthCm']

0     5.1
1     4.9
2     4.7
3      ??
4       5
5     5.4
6     4.6
7       5
8     4.4
9     4.9
10    5.4
Name: SepalLengthCm, dtype: object

In [18]:
df1.loc[50:60, 'SepalLengthCm']

50      7
51    6.4
52    6.9
53    5.5
54    6.5
55    5.7
56    6.3
57    4.9
58    6.6
59    5.2
60      5
Name: SepalLengthCm, dtype: object

In [19]:
df1.iloc[0: 10, 1]

0    5.1
1    4.9
2    4.7
3     ??
4      5
5    5.4
6    4.6
7      5
8    4.4
9    4.9
Name: SepalLengthCm, dtype: object

In [20]:
df1.loc[10:15, ]

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
10,11,5.4,3.7,1.5,0.2,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
12,13,4.8,3.0,1.4,0.1,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa

In [21]:
## returns the size of the dataset
df1.size

900

In [22]:
## lets return the shape of the dataset 
df1.shape

(150, 6)

In [23]:
print("Total number of rows: ", df1.shape[0], "Total number of columns: " , df1.shape[1])

Total number of rows:  150 Total number of columns:  6

In [24]:
print(f"Total number of rows: {df1.shape[0]} Total number of columns {df1.shape[1]}")

Total number of rows: 150 Total number of columns 6

In [25]:
## return a concise summary of the dataset 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     150 non-null    int64
 1   SepalLengthCm  150 non-null    object
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    object
 4   PetalWidthCm   150 non-null    float64
 5   Species        149 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB

In [26]:
## return the columns and their data types 
df1.dtypes

Unnamed: 0         int64
SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [27]:
## return the number of unique value 
df1.nunique()

Unnamed: 0       150
SepalLengthCm     36
SepalWidthCm      23
PetalLengthCm     44
PetalWidthCm      22
Species            3
dtype: int64

In [28]:
df1['Species'].unique()

array(['Iris-setosa', nan, 'Iris-versicolor', 'Iris-virginica'],
      dtype=object)

In [29]:
## return the number of missing values in each column 
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

## Data Preprocessing 
- Replacing special characters
- Converting the column type
- Imputing the missing values

In [30]:
df1['SepalLengthCm'].replace("??", np.nan)

0      5.1
1      4.9
2      4.7
3      NaN
4        5
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: object

In [31]:
# df1['SepalLengthCm'].replace("??", np.nan, inplace=True)

In [32]:
## replace ?? with missing values 
df1['SepalLengthCm'] = df1['SepalLengthCm'].replace("??", np.nan)

In [33]:
## recheck for the special character 
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', nan, '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [34]:
## convert column type to float 
df1['SepalLengthCm'] = df1['SepalLengthCm'].astype('float64')

In [35]:
df1.dtypes

Unnamed: 0         int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [36]:
## replace ?? with missing values 
df1['PetalLengthCm'] = df1['PetalLengthCm'].replace("###", np.nan)
## convert column type to float 
df1['PetalLengthCm'] = df1['PetalLengthCm'].astype('float64')

In [37]:
df1.dtypes

Unnamed: 0         int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [38]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [39]:
df1.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,NaN,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,NaN,0.2,Iris-setosa

In [40]:
## fix / impute missing values for SepalLengthCm
mean_seplencm = df1['SepalLengthCm'].mean()

In [41]:
print(mean_seplencm)

5.851677852348993

In [42]:
df1['SepalLengthCm'] = df1['SepalLengthCm'].fillna(mean_seplencm)

In [43]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [44]:
df1['SepalWidthCm'] = df1['SepalWidthCm'].fillna(df1['SepalWidthCm'].mean())

In [45]:
df1['PetalLengthCm'] = df1['PetalLengthCm'].fillna(df1['PetalLengthCm'].median())

In [46]:
## fixing missing values for species columns 
df1['Species'].value_counts()

Species
Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: count, dtype: int64

In [47]:
## selecting the value with highest count 
highest_count = df1['Species'].value_counts().index[0]

In [48]:
## replace it in the column 
df1['Species'] = df1['Species'].fillna(highest_count)

In [49]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

## Statistical Summary

In [52]:
df1.describe().round()

       Unnamed: 0  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count       150.0          150.0         150.0          150.0         150.0
mean         76.0            6.0           3.0            4.0           1.0
std          43.0            1.0           0.0            2.0           1.0
min           1.0            4.0           2.0            1.0           0.0
25%          38.0            5.0           3.0            2.0           0.0
50%          76.0            6.0           3.0            4.0           1.0
75%         113.0            6.0           3.0            5.0           2.0
max         150.0            8.0           4.0            7.0           2.0

In [55]:
pd.crosstab(df1)

TypeError: crosstab() missing 1 required positional argument: 'columns'